<form [formGroup]="updateCustomerForm" (ngSubmit)="onSubmit()" class="row">
  <td class="col-4">
    {{customer.custName}}
  </td>
  <td class="col-4">
    <input type="text" formControlName="password" class="form-control" [value]="customer.password"
      [ngClass]="{ 'is-invalid': submitted && updateCustomerForm.controls['password'].errors}" />
    <div class="invalid-feedback" *ngIf="submitted && updateCustomerForm.controls['password'].errors">
      <div *ngIf="submitted && updateCustomerForm.controls['password'].errors.required">
        Password is required
      </div>
      <div *ngIf="submitted && updateCustomerForm.controls['password'].errors.minlength">
        Password is too short
      </div>
      <div *ngIf="submitted && updateCustomerForm.controls['password'].errors.maxlength">
        Password is too long
      </div>
    </div>
  </td>
  <td class="col-1">
    <button class="btn btn-secondary" (click)="saveCustomer(customer)">Save</button>
  </td>
  <td class="col-1">
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
  </td>
</form>