<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <h3 class="m-1">Welcome to Coupon System!</h3>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto m-5">
        <img height="100" [src]="couponsImage">
      </div>
    </div>
    <div class="row">
      <div class="text-center col-4">
        <img height="100" [src]="adminImage" class="mx-auto">
      </div>
      <div class="text-center col-4">
        <img height="100" [src]="companyImage">
      </div>
      <div class="text-center col-4">
        <img height="100" [src]="customerImage">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h4 class="text-center">Administrator</h4>
        <p>
          Manage companies and customers.
        </p>
        <p>
          Add, delete or modify company and customer properties, including name,
          password and email (for companies only).
        </p>
      </div>
      <div class="col-4">
        <h4 class="text-center">Company</h4>
        <p>
          Manage you coupons in the system, so customers could purchase them according to your needs.
        </p>
        <p>
          Add, delete or modify your coupons easly. Attach an image to a coupon and write a title and
          a description of your coupons. Set an end date for purchase of coupons. Set the amount of coupons available
          and the
          price of the coupon.
        </p>
      </div>
      <div class="col-4">
        <h4 class="text-center">Customer</h4>
        <p>
          Purchase coupons as you see a list of available coupons. See your whole pourchase history or filter pourchase
          history by coupon type or up to a certain price.
        </p>
      </div>
    </div>
  </div>
</div>